<div
  [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'"
  class="vh-100 mat-app-background"
>
  <mat-card>
    <mat-card-content>
      <mat-slide-toggle (click)="toggleTheme()">Slide me!</mat-slide-toggle>
    </mat-card-content>
  </mat-card>

  <div>
    Yes: @import url("base.css"); Note: The @import rule must precede all other
    rules (except @charset). Additional @import statements require additional
    server requests. As an alternative, concatenate all CSS into one file to
    avoid multiple HTTP requests. For example, copy the contents of base.css and
    special.css into base-special.css and reference only base-special.css.
  </div>

  <div>
    Yes: @import url("base.css"); Note: The @import rule must precede all other
    rules (except @charset). Additional @import statements require additional
    server requests. As an alternative, concatenate all CSS into one file to
    avoid multiple HTTP requests. For example, copy the contents of base.css and
    special.css into base-special.css and reference only base-special.css.
  </div>

  <div>
    Yes: @import url("base.css"); Note: The @import rule must precede all other
    rules (except @charset). Additional @import statements require additional
    server requests. As an alternative, concatenate all CSS into one file to
    avoid multiple HTTP requests. For example, copy the contents of base.css and
    special.css into base-special.css and reference only base-special.css.
  </div>
  <div>
    Yes: @import url("base.css"); Note: The @import rule must precede all other
    rules (except @charset). Additional @import statements require additional
    server requests. As an alternative, concatenate all CSS into one file to
    avoid multiple HTTP requests. For example, copy the contents of base.css and
    special.css into base-special.css and reference only base-special.css.
  </div>
  <div>
    Yes: @import url("base.css"); Note: The @import rule must precede all other
    rules (except @charset). Additional @import statements require additional
    server requests. As an alternative, concatenate all CSS into one file to
    avoid multiple HTTP requests. For example, copy the contents of base.css and
    special.css into base-special.css and reference only base-special.css.
  </div>
  <div>
    Yes: @import url("base.css"); Note: The @import rule must precede all other
    rules (except @charset). Additional @import statements require additional
    server requests. As an alternative, concatenate all CSS into one file to
    avoid multiple HTTP requests. For example, copy the contents of base.css and
    special.css into base-special.css and reference only base-special.css.
  </div>
  <div>
    Yes: @import url("base.css"); Note: The @import rule must precede all other
    rules (except @charset). Additional @import statements require additional
    server requests. As an alternative, concatenate all CSS into one file to
    avoid multiple HTTP requests. For example, copy the contents of base.css and
    special.css into base-special.css and reference only base-special.css.
  </div>
  <router-outlet></router-outlet>
</div>
